:root {
    --primary-color: #df6951;
    --secondary-color: #f1a501;
    --text-color: #181e4b;
    --background-color: #ffffff;
    --subtitle-color: #5e6282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    font-family: "Poppins", serif;
    background-color: var(--background-color, white);
    font-weight: 400;
    font-size: 16px;
    margin: 0 14rem;
    color: var(--text-color, black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

button {
    cursor: pointer;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav ul li:hover {
    color: var(--primary-color);
}

.signup {
    border: 1px solid #181e4b;
    border-radius: 4px;
    padding: 4px 10px;
}

.signup:hover {
    border-color: var(--primary-color);
}

section {
    margin: 4rem 0;
}

/* Hero */
#hero {
    display: flex;
    justify-content: space-between;
}

#description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* max-width: 47%; */
    max-width: 630px;
}

#description h1 {
    font-family: "Volkhov", serif;
    font-size: 5rem;
    line-height: 1;
    position: relative;
}

#description p:first-of-type {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.main-button {
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 7px 10px rgb(223, 105, 81, 0.3);
    margin-right: 2rem;
}

.rounded-button {
    border-radius: 100%;
    padding: 13px 16px;
    margin-right: 0.5rem;
    box-shadow: 0px 7px 10px rgb(223, 105, 81, 0.3);
}

.secondary {
    color: white;
    background-color: var(--secondary-color);
}
.primary {
    color: white;
    background-color: var(--primary-color);
}

#hero img {
    flex-shrink: 0;
    width: 600px;
    aspect-ratio: 104/100;
}

.line-md--play-filled {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-opacity='0' stroke='%23000' stroke-dasharray='40' stroke-dashoffset='40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 6l10 6l-10 6Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.5s' dur='0.5s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='40;0'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -50;
}

.ellipse {
    position: absolute;
    top: 0;
    left: 0;
}

#underline {
    position: absolute;
    width: 20rem;
    right: 1rem;
    top: -5rem;
    z-index: -50;
}

/* Services section */
#services {
    position: relative;
    text-align: center;
    margin: 10rem 0;
}

h3 {
    font-weight: 500;
    color: var(--subtitle-color);
    font-size: 1.1rem;
}

h2 {
    font-weight: 700;
    font-size: 3.1rem;
    margin-bottom: 4.5rem;
    font-family: "Volkhov", serif;
}

.list {
    display: flex;
    justify-content: space-between;
}

.service-card {
    background-color: var(--background-color);
    border: 1px solid rgba(41, 41, 41, 0.1);
    width: 22%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    border-radius: 36px;
    box-shadow: 0 7px 10px rgba(41, 41, 41, 0.1);
}

.service-card:hover {
    transform: scale(1.3);
    transition: all 0.3s ease;
}

.service-card img {
    flex-shrink: 0;
    max-width: 60%;
    height: 40%;
}

h4 {
    font-size: 1.2rem;
}

.service-card p {
    font-size: 0.9rem;
}

.rectangle {
    position: absolute;
    bottom: -2rem;
    left: 21.5rem;
    z-index: -50;
}

.groupe {
    position: absolute;
    top: -3rem;
    right: -7rem;
}
